language: cpp
env:
  matrix:
  #- GEN_BINDING=YES
  #- GEN_COCOS_FILES=YES
  # - PLATFORM=mac-ios PUSH_TO_MAC=YES
  #- PLATFORM=linux DEBUG=1 CC_COMPILER=gcc CXX_COMPILER=g++
  # Disable clang build on linux temporarily since we're using "-stdlib=libc++ " which wasn't installed on travis machine.
  # - PLATFORM=linux DEBUG=1 CC_COMPILER=clang CXX_COMPILER=clang++
  # Since switching to C++11 only the ARM version of the nactive client
  # port currently builds.  TODO(sbc): Re-enable all architectures.
  # Disabled travis-ci build for native client port since it doesn't support std::thread, std::mutex.
  # - PLATFORM=nacl DEBUG=1 NACL_ARCH=arm
  - PLATFORM=android
  # - PLATFORM=emscripten DEBUG=1
script:
- export CC=$CC_COMPILER
- export CXX=$CXX_COMPILER
- travis-scripts/run-script.sh
before_install:
- chmod -R +x travis-scripts
- travis-scripts/before-install.sh

# whitelist
branches:
  only:
    - refactoring
