
#
# Settings
#

# Fancy
COLORS = yes



# SFML 32bit
INC_DIR_SFML_32 := e:/Libraries/SFML-2.4.2/include
LIB_DIR_SFML_32 := e:/Libraries/SFML-2.4.2/MinGW-7.2-x86_64/lib
BIN_DIR_SFML_32 := e:/Libraries/SFML-2.4.2/MinGW-7.2-x86_64/bin
# SFML 64bit
INC_DIR_SFML_64 := e:/Libraries/SFML-2.4.2/include
LIB_DIR_SFML_64 := e:/Libraries/SFML-2.4.2/MinGW-7.2-x86_64/lib
BIN_DIR_SFML_64 := e:/Libraries/SFML-2.4.2/MinGW-7.2-x86_64/bin


